<div class="sidebar">
    <div class="author">
        <img src="<%= theme.sidebar.avatar %>">
        <p><%= theme.sidebar.author %></p>
        <p><%= theme.sidebar.description %></p>
    </div>
    <div class="yiyan">
        <% if(theme.sidebar.yiyan.enable){ %>
            <p>aaa</p>
        <%}%>
    </div>
    <div class="menu">
        <% for (let i in theme.sidebar.menu) { %>
            <% let menu = theme.sidebar.menu[i]; %>
            <a href="<%- url_for(menu) %>">
                <div id="link_to_page">
                    <%= i %>
                </div>
            </a>
        <% } %>
    </div>
</div>