<!DOCTYPE html>
<html lang="<%= config.language %>">
<head>
    <%- partial('common/head') %>
</head>
<body>
    <%- partial('common/header') %>
    <div class="body">
        <%- body %>
    </div>
    <%- partial('common/footer') %>
</body>
</html>